@using Zarabizi.Resources
@using Zarabizi.Resources
@{
    ViewBag.Title = @Messages.lbl_SobreNosotros;
}

<h2>@Messages.lbl_Sobre</h2>
<p>
     Alberto Magallón Sábado
     2ºTIE
     Ingenieria Web
</p>
